.main-screen {
    position: relative;

    &-bg {
        height: 700px;
        background-position: center;

        &.center-half-bot {
            background-position: center 75%;
        }
    }

    &-sign {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: @white;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &-brand {
        font-size: 100px;
        font-weight: bold;
        letter-spacing: 0.3em;
    }

    &-prod {
        font-size: 40px;
        letter-spacing: 0.3em;
        font-family: Arial;
    }
}
