.main-screen {
    position: relative;

    &-bg {
        height: 700px;
        background-position: center;

        &.center-half-bot {
            background-position: center 75%;
        }

        &.center-top {
            background-position: center 20%;
        }
    }

    &-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;

        img {
            width: 100%;
        }
    }
}
